body{
    background-image: url('image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
    margin: 0;
}

h1{
    color: #f5f5f5;
    text-align:left;
    margin-left: 60px;
    padding-top: 60px;
    margin-bottom: 50px;
    font-size: 52px;
    text-shadow:4px 4px 4px #29394b;
    font-family: "orbitron", sans-serif;
font-weight: 700;
font-style: normal;
}

p{
    color: #f5f5f5;
    text-shadow:4px 4px 4px #29394b;
    text-align: justify;
    font-size: 16px;
    margin: 0.5cm;
    margin-left: 400px;
    margin-right: 400px;
    font-family: "barlow-condensed", sans-serif;
font-weight: 100;
font-style: normal;
}

div.box{
    border: 1px solid #0066cc;
    background-color: #0066cc;
    border-radius: 20px;
    margin-left: 680px;
    margin-right: 680px;
    color: #f5f5f5;
    text-align: center;
    font-size: 16px;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32vh;
}

.container img{
    max-width: 30%;
    max-height: 30vh;
}

.third-paragraph{
    color: #D8C7B5;
    text-shadow:2px 2px 2px #29394b;
    background-color: #29394b;
    border-radius: 20px;
    text-align:right;
    font-size:x-large;
    margin-left: 1010px;
    margin-right: 70px;
    margin-bottom: 20px;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: italic;

}

div.box-fourth{
    border-radius: 16px;
    color: #f5f5f5;
    text-align:center;
    text-shadow: 2px 2px 2px #0066cc;
    margin-left: 500px;
    font-size:larger;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.fifthly-paragraph{
    color: #f5f5f5;
    background-color:#cc4a4a;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-size: xx-large;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.sixth-paragraph{
    color: #f5f5f5;
    text-shadow: 2px 2px 4px rgb(0, 204, 153);
    text-align: center;
    font-size:larger;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.seventh-paragraph{
    color: #f5f5f5;
    text-shadow: 2px 2px 4px #29394b;
    border-radius: 20px;
    margin-right: 600px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.eighth-paragraph{
    color:#29394b;
    text-shadow: 2px 2px 2px #cc4a4a;
    text-align:justify;
    text-align-last: center;
    -moz-text-align-last: center;
    line-height: 1;
    max-width: 420px ;
    font-size: 16px;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

div.box-ninth{
    background-color: yellow;
    color: #f5f5f5;
    border-radius: 20px;
    text-shadow: 2px 2px 4px #29394b;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font: size 16px;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.tenth-paragraph{
    color: #f5f5f5;
    text-align: left;
    font-size: xx-large;
    font-family: "poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

